# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências do Node.js
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Build / Output
*.local
.vite/
.cache/
out/
coverage/
.next/
.nuxt/

# Configuração de Ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos do Editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do Docker
.dockerignore
docker-compose.yml

# Ignorar arquivos do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos do GitHub Actions
.github/workflows/*.log

